<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>About</title>
</head>
<h1>About Our University</h1>
<h2>Lovely Professional University (LPU) is a private university located in Chaheru, Phagwara, Punjab, India. The university was established in 2005 by Lovely International Trust, under The Lovely Professional University Act, 2005 (Punjab Act 25 of 2005) and started operation in 2006.</h2>
<h1>Campus</h1>
<h2>The university campus is spread over 600 acres in Chaheru Village on the Jalandhar-Delhi GT Road.</h2>
<h1>Governance</h1>
<h2>The university is governed by chancellor Ashok Kumar Mittal. The administration and operations are governed by pro-chancellor of the institution Rashmi Mittal.Preeti Bajaj is the vice-chancellor of the university.</h2>
<h1>Affiliations</h1>
<h2>The Lovely Professional University is affiliated and recognised by national facilitators such as University Grants Commission (UGC),Pharmacy Council of India, Bar Council of India, etc.
LPU's School of Agriculture is accredited by the Indian Council of Agricultural Research.
LPU is a member of the Association of Commonwealth Universities.
The distance education programes are approved by the UGC's Distance Education Bureau.</h2>
<h1>Schools</h1>
<h2>LPU has the following schools on various subjects ranging from business, fashion design, engineering, law, education, to agriculture, humanities, tourism, etc.</h2>
<h1>Rankings</h1>
<h2>Times Higher Education World University Rankings 2022 ranked LPU in 1001 to 1200th. In India, the National Institutional Ranking Framework ranked Lovely Professional University 81st overall, and 62nd among universities. It also ranked it 37th in management, 23rd in pharmacy, 66th in engineering, 24th in law and 12th in architecture ranking in India.</h2>
</body>
</html>